<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="../stylesheets/style.css" />
		<link rel="stylesheet" href="../stylesheets/products/form.css">
	</head>
	<body>
		<h1>Login</h1>
		<div class="container">
			<form action="/auth/login" method="POST">
				<div class="form__section">
					<label for="name">Username:</label>
					<input type="text" name="username" id="name" required />
				</div>
				<div class="form__section">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" required />
				</div>
				<button class="product__btn" type="submit">Login</button>
			</form>
			<% if (messages && messages.length > 0) { %>
			<div>
				<% messages.forEach(message => { %>
				<p><%= message %></p>
				<% }) %>
			</div>
			<% } %>
		</div>
	</body>
</html>
